---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
---
<MainLayout title="Titel">
	<header class="bg-stone-100 flex justify-between items-center px-10 pt-5 pb-5 mb-5 sticky top-0">
		<div>
		  <p>Københavnerbilleder</p>
		</div>
		<div class="flex gap-12">
		  <div class="hover:text-emerald-800">Kapitler</div>
		  <div class="hover:text-emerald-800">Forfatteren</div>
		  <div class="hover:text-emerald-800">Køb nu</div>
		</div>
	  </header>


	  <div class="grid grid-cols-2 px-10 gap-10">
		<div>
		  <img src="public/kbhbillede/1.jpg" alt="billede af københavn">
		</div>
		<div class="flex flex-col justify-end text">
		  <h1 class="text-xl uppercase">Københavnerbilleder <br> <br> 
		  </h1>
		  <h2 class="text-lg">
			- En guide til hipster foto af Sten Simons
		  </h2> <br> 
		  <p>
			Københavnerbilleder er de danske streetfotografers bibel: Det er en fusion mellem et kunstværk og en lærebog. Bogen gennemgår alle væsentlige aspekter af streetfotografering fra grundlæggende teknik til kreative eksperimenter. Alt sammen krydret med masser af inspirerende fotos. God læselyst!
		  </p>
		  <button class="max-w-48 bg-black text-white uppercase py-3 mt-10 border-none hover:bg-emerald-800 focus:outline-none">
			KØB HER
		  </button>
		</div>
	  </div>

	  <div class="px-10 py-2">
		<p class="text-sm">Titel: Københavnerbilleder - en guide til hipster foto <br>
			Forfatter: Sten Simons <br>
			Antal sider: 344 <br>
			Forlag: Mellem Linjerne <br>
			ISBN: 987-6-987654-32-1 <br>
			Pris: 399.</p>
	  </div>

	  <div class="grid grid-cols-3 gap-4 mx-40 my-10">
		<img src="public/kbhbillede/pinhole-objektiver-ved-eghjorten-3.jpg" alt="Image 1" class="w-full h-64 object-cover bg-gray-300">
		<img src="public/kbhbillede/1.jpg" alt="Image 2" class="w-full h-64 object-cover bg-gray-300">
		<img src="public/kbhbillede/orestad-til-islands-brygge-pentax-auto-110-24.jpg" alt="Image 3" class="w-full h-64 object-cover bg-gray-300">
	  </div>

	 

	  <h2 class="text-xl font-bold ml-40">Bogens kapitler</h2>
	  <div class="flex gap-20">
		<article class="ml-40 ">
		  <p>
			Kapitel 1 - Intro til street foto <br>
				Hvad er street foto? Det handler i bund og grund om at skyde byens liv og byens geometri (urban geometry). I dette kapitel får du en grundig intro til hvad street foto er og et overblik over nogen af de kendte street-fotografer. Alt krydret med en masse gode eksempler på street fotos. <br><br>

				Kapitel 2 - Om at skyde street<br>
				Vil du skyde street? Så er der ikke nogen vej udenom: Du skal ud på gaderne og prøve det! I dette kapitel får du en teknisk indføring i hvordan du bedst skyder street. Uanset om du er begynder eller professionel, er der mange gode tekniske tips og tricks til street-skyderiet.<br><br>

				Kapitel 3 - Om at finde det rette motiv<br>
				Indimellem er man heldig, andre gange kommer man hjem helt uden gode motiver. Med et par tips og tricks til at finde de rette motiver, stiger chancen gevaldigt for at fange de gode motiver.<br><br>

				Kapitel 4 - Digital street foto<br>
				De fleste af os skyder oftest digitalt fordi det er billigere og nemmere. Og nogen teknikker og fremgangsmåder egner sig kun til digital street foto. I dette kapitel får du en række tips og tricks til digital street-foto.
		  </p>
		</article>
		
		<article class="mr-40">
		  <p>
			Kapitel 5 - Analog street foto <br>
			Analog er sejt fordi det er mere “ægte,” dyrere og mere besværligt end digital. Det signalerer entusiasme. Nogle teknikker og fremgangsmåder egner sig bedst til analog street foto. I dette kapitel får du en række tips og tricks til analog street-foto.<br><br>

			Kapitel 6 - Om at skyde sort/hvid<br>
			Alle street-fotografer skyder sort/hvid nu og da. Nogen altid. Hvorfor? Hvad er der specielt ved sort/hvid fotografering, og hvad adskiller sort/hvid fra farvefotografering? Her får du en række tips og tricks til sort/hvid fotografering.<br><br>

			Kapitel 7 - Kreative teknikker<br>
			Dobbelteksponeringer, ICM (intentional camera moves), smadrede objektiver, gamle filmruller og alle mulige andre, spændende kreative teknikker kan løfte dine fotografier fra at være kedelige dokumentationer af hverdagen til at blive vilde kunststykker. Så dyk ned i dette kapitel om eksperimenterende teknikker! <br><br>

			Kapitel 8 - Kom helt tæt på!<br>
			Street foto handler om at fotografere livet på gaden - men tør du at gå helt tæt på fremmede mennesker og knipse løs? Du kan lige så godt øve dig, for det er det der vil gøre dig til en bedre street-fotograf…
		  </p>
		</article>
	  </div>

	  <!-- <h2 class="ml-40 text-xl mt-10">Anmeldelser</h2>
	  <div class="flex gap-10 mx-40 w-full max-w-6xl">

		<article class="flex-1 p-4">
		  <p>Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen. <br>
			-Hanne Hovgaard, Berlingeren
		  </p>
		</article>
	
		<article class="flex-1 p-4">
		  <p>Teksten er underholdende, og billederne er sku flotte. Hvad mere skal man sige om en fotobog? <br>
			-Kim Kloggaard, Fotojournalen.dk
		  </p>
		</article>
	
		<article class="flex-1 p-4">
		  <p>Sten Simons kan det der - og han bliver bedre og bedre. Stens tredje fotobog er klart den bedste - her er han for alvor i sit rette element, meget bedre end “studiefotografering som begyndere.” Tillykke - godt arbejde. <br>
			-Volmer Hansen, Lukkertiden.dk
		  </p>
		</article>
	  </div> -->




	  <body class="bg-gray-100 flex justify-center items-center min-h-screen">
		<div class="grid grid-cols-4 gap-4 max-w-6xl mx-auto p-20">
		  
		  <img src="public/kbhbillede/nikkormat-ft2-orestad-c-6.jpg" alt="Image 1" class="w-full h-48 object-cover bg-gray-300">
		  <img src="public/kbhbillede/pinhole-objektiver-ved-eghjorten-3.jpg" alt="Image 5" class="w-full h-48 object-cover bg-gray-300">
		  <img src="public/kbhbillede/nikkormat-ft2-remiseparken-7.jpg" alt="Image 3" class="w-full h-48 object-cover bg-gray-300">
		  <img src="public/kbhbillede/orestad-til-islands-brygge-pentax-auto-110-16.jpg" alt="Image 4" class="w-full h-48 object-cover bg-gray-300">
		  
		  <img src="public/kbhbillede/pinhole-objektiver-ved-eghjorten-3.jpg" alt="Image 5" class="w-full h-48 object-cover bg-gray-300">
		  <img src="public/kbhbillede/orestad-til-islands-brygge-pentax-auto-110-24.jpg" alt="Image 6" class="w-full h-48 object-cover bg-gray-300">
		  <img src="public/kbhbillede/nikkormat-ft2-remiseparken-2.jpg" alt="Image 2" class="w-full h-48 object-cover bg-gray-300">
		  <img src="public/kbhbillede/nikkormat-ft2-remiseparken-7.jpg" alt="Image 3" class="w-full h-48 object-cover bg-gray-300">
		  
		  <img src="public/kbhbillede/nikkormat-ft2-remiseparken-7.jpg" alt="Image 3" class="w-full h-48 object-cover bg-gray-300">
		  <img src="public/kbhbillede/orestad-til-islands-brygge-pentax-auto-110-16.jpg" alt="Image 4" class="w-full h-48 object-cover bg-gray-300">
		  <img src="public/kbhbillede/nikkormat-ft2-orestad-c-6.jpg" alt="Image 1" class="w-full h-48 object-cover bg-gray-300">
		  <img src="public/kbhbillede/pinhole-objektiver-ved-eghjorten-3.jpg" alt="Image 5" class="w-full h-48 object-cover bg-gray-300">
		</div>
	  </body>


	  <div class="grid grid-cols-2 px-10 gap-10 items-end mx-40">
		<div class="flex items-end">
		  <img class="max-w-150" src="public/kbhbillede/pinhole-objektiver-ved-eghjorten-3.jpg" alt="billede af københavn">
		</div>
		<div class="flex flex-col justify-end">
		  <div>
			<h1 class="text-xl mb-4">Forfatteren</h1>
			<p class="mb-4">
			  Sten Simons har en lang foto-karriere bag sig. Det hele startede i 00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens forfald. Det ledte til en række udstillinger, og blev senere til hans først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.” <br><br>
			  Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.” Sideløbende begyndte han at undervise i foto, og har skrevet et utal af bøger, herunder bestsellerne Scener fra S-toget, Brun mad - en visuel odysse, og lærebogen Fotografering for evnesvage.
			</p>
		  </div>
		  <button class="max-w-48 bg-black text-white uppercase py-3 mt-4 border-none hover:bg-emerald-800 focus:outline-none">
			KØB HER
		  </button>
		</div>
	  </div>
	  <p class="px-10 text-sm mx-40">Foto af forfatteren: Se billedet “sten_simons.jpg”</p>

	<div class="min-h-screen flex items-center justify-center">
		<form class="grid place-self-center grid-cols-1 gap-6 w-full max-w-lg p-6 bg-white border">
		  <h1 class="text-2xl font-bold text-center">Køb Bogen!</h1>
		  <div>
			<label for="number">Antal:</label>
			<input class="border p-2 w-full" type="number" placeholder="1" id="number" /><br />
		  </div>
		  <div>
			<label for="radio">Levering:</label><br />
			<input type="radio" id="postnord" name="fav_language" value="PostNord" />
			<label for="postnord">PostNord</label><br />
			<input type="radio" id="hentselv" name="fav_language" value="Hentselv" />
			<label for="hentselv">Hentselv</label><br />
		  </div>
		  <div>
			<label for="name">Navn:</label>
			<input class="border p-2 w-full" type="text" placeholder="Naja Heggum" id="name" /> <br />
		  </div>
		  <div>
			<label for="adresse">Adresse:</label>
			<input class="border p-2 w-full" type="text" placeholder="Esbern Snares Gade 8" id="adresse" /><br />
		  </div>
		  <div>
			<label for="email">Email:</label>
			<input class="border p-2 w-full" type="email" id="email" name="email" placeholder="naja@hotmail.com" /><br />
		  </div>
		  <div>
			<label for="postnummer">Postnummer & Bynavn:</label><br />
			<input class="border p-2 w-full mb-2" type="text" placeholder="0999" id="postnummer" />
			<input class="border p-2 w-full" type="text" placeholder="Valby" /><br />
		  </div>
		  <div>
			<label for="tel">Telefon:</label>
			<input class="border p-2 w-full" type="tel" placeholder="12345678" id="tel" /><br />
		  </div>
		  <div>
			<input type="checkbox" id="nyhetsbreve" name="nyhetsbreve" />
			<label for="nyhetsbreve">Ja tak til nyhedsbreve og tilbud</label><br />
		  </div>
		  <div>
			<button class="bg-black text-white px-4 py-2  w-full hover:bg-emerald-800 active:bg-emerald-800" type="submit">Til Betaling</button>
		  </div>
		</form>
	  </div>

</MainLayout>

<div class="p5">
	<p>Lavet med masser af hårdt arbejde af Sten Simons 
		Copyright 2015 Sten Simons & forlaget Mellem Linjerne</p>
	</div>
	  